<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.foodapplication.controller.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>FoodApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowMenu</display-name>
    <servlet-name>ShowMenu</servlet-name>
    <servlet-class>com.foodapplication.controller.showmenu.ShowMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMenu</servlet-name>
    <url-pattern>/ShowMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.foodapplication.controller.register.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>com.foodapplication.controller.addtocontroller.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateController</display-name>
    <servlet-name>UpdateController</servlet-name>
    <servlet-class>com.foodapplication.controller.updatecontroller.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateController</servlet-name>
    <url-pattern>/UpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveItemController</display-name>
    <servlet-name>RemoveItemController</servlet-name>
    <servlet-class>com.foodapplication.controller.removeItemcontroller.RemoveItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveItemController</servlet-name>
    <url-pattern>/RemoveItemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Orders</display-name>
    <servlet-name>OrdersController</servlet-name>
    <servlet-class>com.foodapplication.controller.orders.OrdersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersController</servlet-name>
    <url-pattern>/OrdersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderHistoryController</display-name>
    <servlet-name>OrderHistoryController</servlet-name>
    <servlet-class>com.foodapplication.controller.orderhistory.OrderHistoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryController</servlet-name>
    <url-pattern>/OrderHistoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderStatusController</display-name>
    <servlet-name>UpdateOrderStatusController</servlet-name>
    <servlet-class>com.foodapplication.controller.updatestatus.UpdateOrderStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderStatusController</servlet-name>
    <url-pattern>/UpdateOrderStatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderItems</display-name>
    <servlet-name>ShowOrderItems</servlet-name>
    <servlet-class>com.foodapplication.controller.showorderitems.ShowOrderItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderItems</servlet-name>
    <url-pattern>/ShowOrderItems</url-pattern>
  </servlet-mapping>
</web-app>